:root{
    --background-color: white;
    --font-color: black;
    --logoUrl: url(Logo/Storyverse_transparent_darker.png);
    --link-color: #CF768E;

    --btn-light: #d8dbe0;
    --btn-dark: #28292c;

    --scrolbar-thumb: rgb(195, 195, 195);
    --scrolbar-track: rgb(133, 133, 133);
    --scrolbar-thumb-hover: rgb(180, 180, 180);
}

.dark-theme{
    --background-color: rgb(58, 58, 58);
    --font-color: rgb(211, 211, 211);
    --logoUrl: url(Logo/Storyverse_transparent.png);
    --link-color: #E68DA5;
    --scrolbar-thumb: rgb(129, 129, 129);
    --scrolbar-track: rgb(66, 66, 66);
    --scrolbar-thumb-hover: rgb(141, 141, 141);
}

.small-menu{
    display: none;
    grid-area: left;
}

body{
    background-color: var(--background-color);
    color: var(--font-color);
    margin: 0;  
    display: grid;
    min-height: 100vh;
    grid-template-columns: 100%;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header'
        'content'
        'footer';

    transition: background-color .3s ease, color .3s ease;
}

a{
    text-decoration: none;
    color: var(--font-color);
}

a:hover{
    color: #CF768E;
    cursor: pointer;
}

a:active{
    color: #b36378;
}

header{
    grid-area: header;
    background-color: rgba(0, 0, 0, 0.15);
    display: grid;
    align-items: center;
    grid-template-columns: 20% 1fr 20%;
    grid-template-areas: 
    'left mid right';
}

main{
    grid-area: content;
    margin: 3rem 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1rem solid rgba(0, 0, 0, 0.3);
    height: 3.5rem;
}

.userHeader{
    display: flex;
    grid-area: right;
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    align-self: center;
    justify-self: end;
    margin-right: 1.5rem;
}

nav{
    grid-area: mid;
}

nav > ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav > ul > li{
    margin: 15px;
}

footer > ul{
    list-style-type: none;
}

.logo{
    content: var(--logoUrl);
    height: 3rem;
    margin: 1.5rem;
    transition: content .3s ease;
}
.logoLink{
    grid-area: left;
}

.bell{
    padding: 1rem;
    font-size: 1.15rem !important;
}

.bell:hover{
    color: #CF768E;
    cursor: pointer;
}

/* Theme Button*/

.theme-button{
    border: 0;
    background-color: var(--font-color);
    height: 1rem;
    width: 2rem;
}

.theme-button:hover{
    background-color: var(--link-color);
}

.theme-button-parent{
    width: 40px;
    height: 20px;
}

label{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: var(--btn-dark);
    border-radius: 50px;
    cursor: pointer;
}

label > input{
    position: absolute;
    display: none;
}   

.slider{
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    transition: .3s;
}

input:checked ~ .slider{
    background-color: var(--btn-light);
}

.slider::before {
    content: "";
    position: absolute;
    top: 3px;
    left: 4px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    box-shadow: inset 5px -4px 0px 0px var(--btn-light);
    background-color: var(--btn-dark);
    transition: 0.3s;
  }
  
  input:checked ~ .slider::before {
    transform: translateX(20px);
    background-color: var(--btn-dark);
    box-shadow: none;
}

/*Scrollbar*/

::-webkit-scrollbar{
    width: 10px;
}
::-webkit-scrollbar-track{
    background: var(--scrolbar-track);
    border-radius: 50px;
    box-shadow: inset 0 0 5px var(--scrolbar-thumb);
}
::-webkit-scrollbar-thumb{
    background: var(--scrolbar-thumb);
    border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
    background: var(--scrolbar-thumb-hover);
}

/*Menu*/
#menu_toggel{
    opacity: 0;
}
#menu_toggel:checked + .menu_btn{
    transform: translateX(240px);
}
#menu_toggel:checked ~ .menu_box {
    left: 0 !important;
}

.menu_btn {
    position: fixed;
    top: 35px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: none;
    z-index: 1;
    transition: .25s;
}

.menu_btn > span{
    display: block;
    width: 100%;
    height: 2px;
    margin-top: 5px;
    background-color: var(--font-color);
    transition: .25s;
}

.menu_box{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--background-color);
    box-shadow: 2px 2px 6px var(--font-color);
    transition-duration: .25s;
    align-items: center;
}

.menu_box > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.menu_box > ul > li{
    margin-top: 1rem;
    transition: .25s;
    list-style-type: none;
}

.menu_box > .theme-button-parent{
    display: block;
    margin-top: 1rem;
}

/* Responsive */

@media (max-width: 900px){
    /*Burger*/
    .logoLink{
        grid-area: mid;
        justify-self: center;
        align-self: center;
    }
    #desktop-menu{
        display: none;
    }
    .small-menu{
        display: block;
    }
    .theme-button-parent{
        display: none;
    }
}