[contenteditable]:focus{
    outline: none;
}
[contenteditable]:empty::after{
    font-style: italic;
    content: attr(placeholder);
}

[contenteditable]:empty:focus:after{
    content: '';
}

.editor{
    margin-top: 1rem;
    min-height: 50rem;
    width: 75vw;
    cursor: text;
}

.title{
    margin-top: 1rem;
    min-height: 1rem;
    width: 75vw;
    cursor: text;  
    text-align: center;
}

.editor-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
}

hr{
    width: 74vw;
}