:root{
  --background-color: white;
  --font-color: black;
  --logoUrl: url(../src/Logo/Storyverse_transparent_darker.png);
  --link-color: #CF768E;

  --btn-light: #d8dbe0;
  --btn-dark: #28292c;

  --scrolbar-thumb: rgb(195, 195, 195);
  --scrolbar-track: rgb(133, 133, 133);
  --scrolbar-thumb-hover: rgb(180, 180, 180);
}

.dark-theme{
  --background-color: rgb(58, 58, 58);
  --font-color: rgb(211, 211, 211);
  --logoUrl: url(../src/Logo/Storyverse_transparent.png);
  --link-color: #E68DA5;
  
  --scrolbar-thumb: rgb(119, 119, 119);
  --scrolbar-track: rgb(66, 66, 66);
  --scrolbar-thumb-hover: rgb(141, 141, 141);
}

/*Main Parts default Style*/

#root{
  background-color: var(--background-color);
  color: var(--font-color);
  margin: 0;  
  display: grid;
  min-height: 100vh;
  grid-template-columns: 100%;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
      'header'
      'content'
      'footer';

  transition: background-color .3s ease, color .3s ease;
}

header{
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.15);
  display: grid;
  align-items: center;
  justify-content: center;
  grid-template-columns: 20% 1fr 20%;
  grid-template-areas: 
  'left mid right';
}

/*HTML Elements default styles*/

a{
  text-decoration: none;
  color: var(--font-color);
  transition: color .3s ease;
}

a:hover{
  color: #CF768E;
  cursor: pointer;
}

a:active{
  color: #b36378;
}

.logo{
  height: 3rem;
  width: auto;
  margin: 1.5rem;
  grid-area: left;
  transition: content .3s ease;
}

.user-area{
  grid-area: right;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 8px;
}

.bell{
  padding: 1rem;
  font-size: 1.28rem !important;
}
.bell:hover{
  color: #CF768E;
  cursor: pointer;
}

.log-in-button{
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.1rem;
  color: var(--font-color);
  transition: color .3s ease;
}

.log-in-button:hover{
  color: #CF768E;
}

/* Responsive */

.mobile-menu{
  display: none;
}

@media (max-width: 900px){
  .logo{
    grid-area: mid;
    justify-self: center;
    align-self: center;
  }
  .desktop-menu{
    display: none;
  }
  .mobile-menu{
    display: block;
  }
  .dark-mode-button-user-area{
    display: none;
  }
}

/*Scrollbar*/

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: var(--scrolbar-track);
  border-radius: 50px;
  box-shadow: inset 0 0 5px var(--scrolbar-thumb);
  transition: background-color .3s ease;
  transition: box-shadow .3s ease;
}
::-webkit-scrollbar-thumb{
  background: var(--scrolbar-thumb);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover{
  background: var(--scrolbar-thumb-hover);
}