.desktop-menu{
    grid-area: mid; 
}
.desktop-menu > ul{
    display: flex;
    justify-content: center;
    padding: 0;
    list-style-type: none;
}
.desktop-menu > ul > li{
    margin: 1rem;
}

li > button{
    background-color: transparent;
    border: none;
    font-size: 1.15rem;
    cursor: pointer;
    color: var(--font-color);
}

li > button:hover{
    color: #CF768E;
}