#menu_toggel{
    opacity: 0;
}
#menu_toggel:checked + .menu_btn{
    transform: translateX(240px);
}
#menu_toggel:checked ~ .menu_box {
    left: 0 !important;
}

.menu_btn {
    position: fixed;
    top: 35px;
    left: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    background: none;
    z-index: 1;
    transition: .25s;
}

.menu_btn > span{
    display: block;
    width: 100%;
    height: 3px;
    margin-top: 5px;
    background-color: var(--font-color);
    transition: background-color .25s;
}

.menu_box{
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: var(--background-color);
    box-shadow: 2px 2px 6px var(--font-color);
    transition: left .25s;
    transition: background-color .3s ease;
    transition: box-shadow .3s ease;
    align-items: center;
}

.menu_box > ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
}

.menu_box > ul > li{
    margin-top: 1rem;
    transition: .25s;
    list-style-type: none;
}

.menu_box > .theme-button-parent{
    display: block;
    margin-top: 1rem;
}