body{
    margin: 0;
    display: grid;
    min-height: 100vh;
    grid-template-columns: 80vw 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
        'header header'
        'content sidebar'
        'footer footer';
}

a:hover{
    color: #CF768E;
}

header{
    grid-area: header;
    display: grid;
    align-items: center;
    grid-template-columns: 20% 1fr 20%;
    background-color: rgba(0, 0, 0, 0.15);
}

main{
    grid-area: content;
    margin-left: 1rem;
}

footer{
    grid-area: footer;
    background-color: rgba(0, 0, 0, 0.2);
    border-top: 1rem solid rgba(0, 0, 0, 0.3);
}

header > div{
    display: flex;
    column-gap: 10px;
    align-self: center;
    justify-self: end;
    margin-right: 1.5rem;
}

nav > ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0;
}

nav > ul > li{
    margin: 15px;
}

footer > ul{
    list-style-type: none;
}

.sidebar{
    border-left: 1px solid rgba(0, 0, 0, 0.336);

    grid-area: sidebar;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 5rem auto;
    align-items: center;
    justify-items: center;
    grid-template-areas: 
    'title'
    'content';
}

section.sidebar > h3{
    grid-area: title;
}

.container-flex{
    display: flex;
}

.logo{
    justify-self: start;
    align-items: center;
    height: 3rem;
    margin: 1.5rem;
}

.bell{
    padding: 1rem;
    font-size: 1.15rem !important;
    align-self: center;
}

.bell:hover{
    color: #CF768E;
}